In [1]:
import pandas as pd
import os

PATH_TO_STABLE = '/Users/y1u0d2/Desktop/Lab/data/stable-structure'
ROOT_PATH = '/Users/y1u0d2/desktop/Lab/result/lammps/structure-optimization/10'

STRUCTURE_FILTER = {
    'alpha-critobalite':46,
    'alpha-quartz':326,
    'beta-quartz':213,
    # 'beta-trydymite':567,
    'coesite':457,
    'Fdd2-beta-critobalite':1034,
    'hex-trydymite': 720,
    # 'hex-trydymite': 46,
    'stishovite':481
}

dft_df = pd.read_csv(os.path.join(PATH_TO_STABLE, 'lattice_info.csv'))
nn_df = pd.read_csv(os.path.join(ROOT_PATH, 'lattice.csv'))

In [2]:
def get_structure_record(structure, idx, df):
    record = df[(df.structure == structure) & (df.idx == idx)].copy()
    return record
items = list(STRUCTURE_FILTER.items())
record = get_structure_record(items[0][0], items[0][1], nn_df)
for k, v in items[1:]:
    tmp_record = get_structure_record(k, v, nn_df)
    record = pd.concat([record, tmp_record])

In [3]:
dft_nn_df = pd.merge(dft_df, record, on='structure')

In [4]:
dft_nn_df['a_diff'] = ((dft_nn_df.Cella - dft_nn_df.a) / dft_nn_df.a) * 100
dft_nn_df['b_diff'] = ((dft_nn_df.Cellb - dft_nn_df.b) / dft_nn_df.b) * 100
dft_nn_df['c_diff'] = ((dft_nn_df.Cellc - dft_nn_df.c) / dft_nn_df.c) * 100

dft_nn_df['alpha_diff'] = ((dft_nn_df.CellAlpha - dft_nn_df.alpha) / dft_nn_df.alpha) * 100
dft_nn_df['beta_diff'] = ((dft_nn_df.CellBeta - dft_nn_df.beta) / dft_nn_df.beta) * 100
dft_nn_df['gamma_diff'] = ((dft_nn_df.CellGamma - dft_nn_df.gamma) / dft_nn_df.gamma) * 100

dft_nn_df.drop(['a','b','c','alpha','beta','gamma'], axis=1, inplace=True)
dft_nn_df.to_csv(os.path.join(ROOT_PATH, 'lattice_diff_.csv'), index=False)

In [5]:
dft_nn_df

,structure,idx,Cella,Cellb,Cellc,CellAlpha,CellBeta,CellGamma,a_diff,b_diff,c_diff,alpha_diff,beta_diff,gamma_diff
0,stishovite,481,8.272545,8.272545,5.381405,90.000000,90.000000,90.000000,-0.486641,-0.486641,0.926566,0.000000,0.000000,0.000000
1,alpha-critobalite,46,10.069243,10.069243,7.117165,90.000000,90.000000,90.000000,1.484005,1.484005,3.177228,0.000000,0.000000,0.000000
2,beta-quartz,213,10.055251,10.055251,5.578277,90.000000,90.000000,120.000000,1.516921,1.516921,1.515509,0.000000,0.000000,0.000000
3,coesite,457,7.124259,7.124259,7.096453,104.250730,104.250730,120.056880,-0.080523,-0.080523,0.232394,0.087106,0.087106,-0.069186
4,Fdd2-beta-critobalite,1034,10.125049,10.125049,10.125123,59.999757,59.999757,60.000487,0.248010,0.248010,2.647232,-1.267472,-1.267472,2.635113
5,alpha-quartz,326,9.750286,9.750286,5.370388,90.000000,90.000000,120.000000,-0.130221,-0.130221,-0.122968,0.000000,0.000000,0.000000
6,hex-trydymite,720,10.445156,10.445156,8.523987,90.000000,90.000000,120.000000,0.001494,0.001494,0.023318,0.000000,0.000000,0.000000

In [6]:
nn_df

,structure,idx,Cella,Cellb,Cellc,CellAlpha,CellBeta,CellGamma
0,alpha-critobalite,46,10.069243,10.069243,7.117165,90.0,90.0,90.0
1,alpha-critobalite,666,10.067804,10.067804,7.116156,90.0,90.0,90.0
2,alpha-critobalite,840,10.145744,10.145744,7.174267,90.0,90.0,90.0
3,alpha-critobalite,894,10.064109,10.064109,7.114902,90.0,90.0,90.0
4,alpha-critobalite,1056,9.903773,9.903773,6.707773,90.0,90.0,90.0
...,...,...,...,...,...,...,...,...
75,stishovite,46,8.334115,8.334115,5.323685,90.0,90.0,90.0
76,stishovite,128,8.309354,8.309354,5.346749,90.0,90.0,90.0
77,stishovite,670,8.275594,8.275594,5.378545,90.0,90.0,90.0
78,stishovite,659,8.275564,8.275564,5.378526,90.0,90.0,90.0
79,stishovite,31,8.334169,8.334169,5.323721,90.0,90.0,90.0