In [4]:
from _lammps.get_thermo_from_log import get_thermo_csv_from_log
import glob
import pandas as pd

path_to_target = '/Users/y1u0d2/desktop/Lab/result/lammps/structure-optimization/03'
dirs = glob.glob(f'{path_to_target}/SiO2*')

In [30]:
def get_lattice_series_from_thermo_csv(_dir):
    id = _dir.split('/')[-1].split('_')[1]
    csv_f = glob.glob(f'{_dir}/thermo*.csv')[0]
    df = pd.read_csv(csv_f)
    loc_cella = df.columns.get_loc('Cella')
    # 最終行のlattice部分取得
    l_series = df.iloc[len(df)-1:len(df),loc_cella:loc_cella+6].copy()
    l_series.insert(0, 'id', id)
    return l_series

df = get_lattice_series_from_thermo_csv(dirs[0])
for _dir in dirs[1:]:
    tmp_df = get_lattice_series_from_thermo_csv(_dir)
    df = pd.concat([df,tmp_df])

In [31]:
df

          id     Cella     Cellb     Cellc  CellAlpha   CellBeta  CellGamma
11   mp-7087  5.223803  5.223803  8.526388  90.000000   90.00000  120.00000
10   mp-8352  5.223529  5.223529  5.223529  60.000000   60.00000   60.00000
16   mp-6947  4.172114  4.172114  2.654647  90.000000   90.00000   90.00000
35  mp-11684  7.120175  7.120175  7.120548  75.504013  104.49599   60.15839
50   mp-6930  4.890480  4.890480  5.368203  90.000000   90.00000  120.00000
12   mp-6922  5.049568  5.049568  5.528474  90.000000   90.00000  120.00000
72   mp-7648  5.105056  5.105056  8.135501  90.000000   90.00000  121.78020
38   mp-6945  4.967489  4.967489  6.934944  90.000000   90.00000   90.00000