In [1]:
import pandas as pd
import numpy as np
csv_dir = '/Users/y1u0d2/desktop/Lab/result/nnp-train/20211126/scp/nnp-train_15_10/analyze'

In [6]:
df = pd.read_csv(f'{csv_dir}/testpoints.000018.out.csv')
# df.iat[0,0]

      index      Eref      Ennp
0       283  2.420161  2.433069
1       451 -1.276666 -1.280846
2       496  1.241237  1.233928
3       584  0.593467  0.569075
4       616 -0.409859 -0.418535
...     ...       ...       ...
1754   8396  0.290573  0.304867
1755   8416 -0.952614 -0.947285
1756   8421 -0.881506 -0.874075
1757   8484 -0.396886 -0.391290
1758   8517 -0.693775 -0.701140

[1759 rows x 3 columns]

In [11]:
 energy_df = pd.DataFrame(columns=['distance', 'energy', 'center', 'another'])

In [12]:
energy_df.loc['0'] = [1,1,1,1]

In [13]:
energy_df

  distance energy center another
0        1      1      1       1